<!DOCTYPE html>
<html lang="de" xmlns:th="https://thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Login Fehler </title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <style>
          body{
            font-size: 10pt;
            margin : 0 25% 0 25%
          }
      </style>
  </head>
  <body>
        <header class="container">

        </header>
        <main class="container mt-3">
            <h5 class="alert alert-danger"> Fehler Meldung</h5>
            <div class="container text-left">
                    <p> Hallo User
                        <strong th:text="${email}"> </strong>
                    </p>
                    <h6>
                        Diese Email und Passwort ist uns leider nicht bekannt!
                    </h6>
                <a th:href="@{log}"> Jetzt hier registrieren</a>
                </div>

        </main>

  </body>
</html>